/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mooli&family=Pontano+Sans:wght@300&display=swap');

/*HTML selector*/
:root {
    background-color: black;
}

/* Wildcard selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 60%;
    font-family: 'Mooli', sans-serif;
}

/* Start Page */
h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Start page buttons */
.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    background: linear-gradient(90deg, rgb(214, 204, 194) 0%, rgb(255, 228, 196) 100%);
}

.btn:hover {
    cursor: pointer;
}

/*How to play button*/
#how-to-play-btn {
    background: linear-gradient(90deg, rgb(209, 88, 110) 0%, rgb(206, 56, 83) 100%);
}

/* Home page image */
.main-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 5rem;
    justify-content: center;
}