/*HTML selector*/
:root {
    background-color: black;
}

/* Wildcard selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 60%;
    font-family: 'Mooli', sans-serif;
}

/* Start Page */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

/* Lets Play and How to Play links */
.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    background: linear-gradient(90deg, rgb(214, 204, 194) 0%, rgb(255, 228, 196) 100%);
}

.btn:hover {
    cursor: pointer;
}

/*How to play button*/
#how-to-play-btn {
    background: linear-gradient(90deg, rgb(222, 124, 142) 0%, rgb(206, 56, 83) 100%);
}

/* Main image */
.main-image {
    width: 90%;
    height: auto;
    margin-bottom: 5rem;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
    margin-left: 5%;
}

/* Instructions Pop Up */

#instructions-pop-up {
    position: relative;
    opacity: 1;
    background-color: rgb(222, 124, 142);
    border: 1px;
    border-radius: 6px;
    padding: 15px;
    display: none;
    flex-direction: column;
    font-size: 2.5rem;
    margin-top: 10rem;
    margin-left: 10%;
    max-width: 80%;
}

#instructions-pop-up h2 {
    margin-top: 4rem;
    font-size: 5rem;
    text-align: center;
}

#instructions-pop-up ol {
    margin-top: 2rem;
    list-style-position: inside;
}

#instructions-pop-up ol li {
    font-size: 3rem;
    text-align: center;
}

.instructions-image {
    width: 40%;
    margin-top: 2rem;
    margin-left: 25%;
}

/* Close Instructions */
#close-instructions {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0 10px;
    background: transparent;
    border: none;
    font-size: 2.5rem;
}

#close-instructions:hover {
    cursor: pointer;
}

/* Leaderboard pop-up*/

#leaderboard-pop-up {
    position: relative;
    opacity: 1;
    background-color: rgb(222, 124, 142);
    border: 1px;
    border-radius: 4px;
    padding: 15px;
    display: none;
    flex-direction: column;
    font-size: 2.5rem;
    margin-top: 10rem;
    margin-left: 10%;
    max-width: 80%;
    min-height: 400px;
    overflow-y: auto;
}

#leaderboard-pop-up h2 {
    margin-top: 4rem;
    font-size: 5rem;
    text-align: center;
}

.leaderboard ul {
    display: flex;
    color: white;
    font-size: 4rem;
    text-align: center;
    flex-direction: column;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: transparent;
    list-style-type: none;
    min-height: 300px;
}

.leaderboard-image {
    width: 40%;
    margin-top: 2rem;
    margin-left: 25%;
}

/* Close Leaderboard */
#close-leaderboard {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0 10px;
    background: transparent;
    border: none;
    font-size: 2.5rem;
}

#close-leaderboard:hover {
    cursor: pointer;
}

/*Game page*/

.container2 {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    display: none;
}

.quiz-image {
    width: 60%;
    height: auto;
    margin-bottom: 2rem;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
    margin-left: 20%;
}

/* Score */

.score {
    display: flex;
    color: white;
    font-size: 4rem;
    text-align: left;
    margin-bottom: 3rem;
    align-items: center;
    flex-direction: row;
}

#user-score-tally {
    margin-right: 5px;
    margin-left: 5px;
}
.score span {
    display: inline-block;
    font-weight: bold;
}

/*Question div*/
#question {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

/*Answer Buttons*/

.button {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 5px;
    background: rgb(222, 124, 142);
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.6rem 1.2rem 0;
    transform: scale(1.01);
}

/* End screen */

#quiz-complete {
    width: 100vw;
    height: 100vh;
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    display: none;
    align-items: center;
}

#quiz-complete h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
}

#quiz-complete p {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
}

#quiz-complete p span {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
}

.quiz-complete button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.end-image {
    width: 60%;
    margin-top: 2rem;
}

/* Try Again Button*/
#try-again-btn {
    background: linear-gradient(90deg, rgb(222, 124, 142) 0%, rgb(206, 56, 83) 100%);
}

/* Username Input */
#quiz-complete input {
    width: 80%;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 22px;
}

/* Notifications */

#notification {
    position: fixed;
    opacity: 1;
    background-color: rgb(222, 124, 142);
    border: 1px;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    font-size: 6rem;
    width: 80%;
    z-index: 9999;
    display: none;
    top: 500px;
    left: 50%;
    transform: translate(-50%, 35%);
}
#notification #notificationText {
    color:white;
}

/* Footer */
#footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
    color:white;
    background-color: black;
    text-align:center;
    align-items: flex-end;
    padding-bottom: 15px;
}

#footer a {
    display:inline-block;
    color: white;
    font-size: 1rem;
}

/* No Script Message when JavaScript is Disabled */
#noScriptMessage {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 20px;
    max-width: 100%;
    max-height: 100%;
}

#noScriptMessage h2 {
    color: red;
    font-size: 3rem;
}

#noScriptMessage p {
    margin-top: 10px;
    font-size: 1rem;
}

#noScriptMessage ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

#noScriptMessage li {
    margin: 10px 0;
    font-size: 1rem;
}

#noScriptMessage li em {
    font-size: 1rem;
}

#noScriptMessage ol {
    list-style: decimal;
    padding: 0 0 0 20px;
    font-size: 1rem;
}

#noScriptMessage ol li {
    margin: 5px 0;;
    font-size: 1rem;
}

/* Media Queries, mobile devices*/
@media screen and (max-width: 768px) {

    #instructions-pop-up ol li {
    font-size: 2rem;
    }

    #leaderboard-pop-up h2 {
    font-size: 3.5rem;
    }
    #quiz-complete input {
        margin-right: 31px;
        width: 70%;
        }
    .custom-size {
        font-size: 1em;
    }
}

/* Media Queries, tablets and larger*/
@media screen and (min-width: 768px) {
#noScriptMessage h2 {
        font-size: 4rem;
    }

    #noScriptMessage p {
        font-size: 2rem;
    }

    #noScriptMessage ul {
        font-size: 2rem;
    }

    #noScriptMessage li {
        font-size: 2rem;
    }

    #noScriptMessage li em {
        font-size: 2rem;
    }

    #noScriptMessage ol {
        font-size: 2rem;
    }

    #noScriptMessage ol li {
        font-size: 2rem;
    }
    .custom-size {
        font-size: 1em;
        }
}

/* Media Queries, latops and larger */
@media screen and (min-width: 992px) {

    #quiz-complete input {
        width: 60%;
    }
    #noScriptMessage h2 {
        font-size: 5rem;
    }
        
    #noScriptMessage p {
        font-size: 3rem;
    }
        
    #noScriptMessage ul {
        font-size: 3rem;
    }
        
    #noScriptMessage li {
        font-size: 3rem;
    }
        
    #noScriptMessage li em {
        font-size: 3rem;
    }
        
    #noScriptMessage ol {
        font-size: 3rem;
    }
        
    #noScriptMessage ol li {
        font-size: 3rem;
    }
    .custom-size {
        font-size: 2em;
    }
}

/*Media Queries, larger laptop screens */
@media screen and (min-width: 1200px) {
#noScriptMessage h2 {
        font-size: 6rem;
    }

    #noScriptMessage p {
        font-size: 4rem;
    }

    #noScriptMessage ul {
        font-size: 4rem;
    }

    #noScriptMessage li {
        font-size: 4rem;
    }

    #noScriptMessage li em {
        font-size: 4rem;
    }

    #noScriptMessage ol {
        font-size: 4rem;
    }

    #noScriptMessage ol li {
        font-size: 4rem;
    }
    
    .custom-size{
        font-size: 2em;
    }
}

/* 4k screens */
@media screen and (min-width: 2500px) {
#noScriptMessage h2 {
        font-size: 7rem;
    }

    #noScriptMessage p {
        font-size: 5rem;
    }

    #noScriptMessage ul {
        font-size: 5rem;
    }

    #noScriptMessage li {
        font-size: 5rem;
    }

    #noScriptMessage li em {
        font-size: 5rem;
    }

    #noScriptMessage ol {
        font-size: 5rem;
    }

    #noScriptMessage ol li {
        font-size: 5rem;
    }
    
    .leaderboard ul {
        font-size: 6rem;
    }
    .custom-size {
        font-size: 2em;
    }
    .btn {
        font-size: 6rem;
    }
}